{% extends "base.html" %}

{% block title %}会社情報 | NAGOYAMESHI{% endblock %}

{% block content %}
<div class="container py-4">

    <h1 class="mb-4 h3">会社情報</h1>

    <table class="table">
        <tr><th>会社名</th><td>{{ company.name }}</td></tr>
        <tr><th>代表者</th><td>{{ company.representative }}</td></tr>
        <tr><th>設立日</th><td>{{ company.established_at }}</td></tr>
        <tr><th>郵便番号</th><td>{{ company.zipcode }}</td></tr>
        <tr><th>住所</th><td>{{ company.address }}</td></tr>
        <tr><th>事業内容</th><td>{{ company.business }}</td></tr>
    </table>

    <a href="{% url 'restaurants:company_edit' %}" class="btn btn-primary">
        編集する
    </a>

</div>
{% endblock %}
