#top {
   width: 800px;
   background-color: #dcc9f4;
   margin: 20px auto;  /* 上下20px、左右autoで中央寄せ */
   text-align: center;
   padding: 10px 0;
}
.top-child {
   display: inline-block;   /* 横並び+ブロック要素の性質も持つ */
   background-color: #ffd9df;
   margin: 0 auto;         /* 横に間隔をあける例 */
   width: 20%;
}
#middle {
   width:  800px;
   height: 800px;
   background-color: #ffd9df;
   margin: 20px auto;        /* 画面中央に配置 */
   position: relative;
}
#middle-child01,
#middle-child02,
#middle-child03 {
   width: 200px;
   height: 200px;
   background-color: #87ceeb;
   position: absolute;
}
#middle-child01 {
   top: 100px;
   left: 100px;
}
#middle-child02 {
   top: 300px;
   left: 300px;
}
#middle-child03 {
   top: 500px;
   left: 500px;
}
#bottom {
   width: 800px;
   height: 300px;
   margin: 20px auto;
   background-color: #87ceeb;
}
#bottom-child01,
#bottom-child02,
#bottom-child03 {
   width: 400px;
   height: 100px;
   background-color: #e5dcf0;
   position: relative;
}
#bottom-child02 {
   left: 200px;
}
#bottom-child03 {
   left: 400px;
}